---
import { getCollection } from 'astro:content'
import { render } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import NoteInfo from '../../components/NoteInfo.astro'
import { Image } from 'astro:assets'
import pointingUp from '../../assets/pointing-up.webp'
import NoteLinkButtons from '../../components/NoteLinkButtons.astro'
import type { CollectionEntry } from 'astro:content'

export async function getStaticPaths() {
  const notes = await getCollection('notes')
  return notes.map((note) => ({
    params: { id: note.id },
    props: { note },
  }))
}
interface Props {
  note: CollectionEntry<'notes'>
}

const { note } = Astro.props
const { Content } = await render(note)
---

<Layout isArticle>
  <article class="note-content">
    <NoteInfo date={note.data.date} title={note.data.title} preview={note.data.preview} />
    <NoteLinkButtons
      hnUrl={note.data.hnUrl}
      externalUrl={`https://esmantovi.ch/notes/${note.id}`}
    />
    <Content />
    <a href="#header" class="to-the-top">
      <Image src={pointingUp} alt="Pointing up" class="pointing-up" height={400} />
    </a>
  </article>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  .note-content {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 80px;
    padding-right: 1.2rem;
    padding-bottom: 160px;
    padding-left: 1.2rem;
  }

  .to-the-top {
    display: block;

    width: fit-content;
    margin: 0 auto;
    margin-top: 160px;
    padding: 20px;

    transition: transform 0.3s ease;
  }

  .to-the-top:hover {
    cursor: pointer;
    transform: translateY(-20px);
  }

  .pointing-up {
    box-sizing: content-box;
    aspect-ratio: 144/300;
    width: auto;
    height: 300px;
  }

  @media (width <= 734px) {
    .pointing-up {
      height: 200px;
    }
  }
</style>
